::ng-deep .mat-mdc-form-field-focus-indicator {
  /* Empêche les interférences visuelles sur le contour */
  display: none; 
}

/* Assure que la bordure ne se superpose pas mal au label */
::ng-deep .mdc-notched-outline__notch {
  border-right: none;
}