@reference "tailwindcss";

.input-settings {
  @apply block w-full px-4 py-3 bg-slate-50 border border-slate-200 rounded-xl text-sm transition-all outline-none text-slate-700;
  
  &:focus {
    @apply border-amber-400 ring-4 ring-amber-400/10 bg-white;
  }
}