@reference "tailwindcss";

:host {
  display: block;
  height: 100%;
}

#map {
  @apply h-full w-full bg-slate-50;
  outline: none;
}

/* Étiquette Leaflet */
::ng-deep .custom-tooltip {
  @apply bg-slate-900 border-none text-white px-3 py-1.5 rounded-lg font-bold text-xs shadow-xl;
  &:before { display: none; }
}

/* Étiquette OpenLayers */
.ol-tooltip {
  @apply absolute bg-slate-900 text-white px-3 py-1.5 rounded-lg font-bold text-xs pointer-events-none z-50;
  white-space: nowrap;
  display: none;
}

/* Boutons d'outils */
.tool-btn {
  @apply p-3 hover:bg-slate-50 text-slate-600 transition-colors flex items-center justify-center;
  &:hover { @apply text-amber-600 bg-amber-50; }
}

/* Style pour l'échelle Leaflet */
::ng-deep .leaflet-control-scale-line {
  @apply bg-white/80 backdrop-blur-sm border-2 border-slate-900 text-slate-900 font-bold rounded-sm;
  padding: 2px 5px;
}

/* Style pour l'échelle OpenLayers */
::ng-deep .ol-scale-line {
  @apply bg-slate-900/90 text-white p-2 rounded-lg shadow-lg mb-4 ml-4;
  
  .ol-scale-line-inner {
    @apply border-white text-white font-medium;
  }
}