@use 'tailwindcss';


@use '@angular/material' as mat;
@import "ol/ol.css";
@import "leaflet/dist/leaflet.css";
@import "primeicons/primeicons.css";
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.unofive-field.mat-focused {
  
  .mat-mdc-floating-label mat-label {
    color: #f59e0b !important; 
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #f59e0b !important;
  }

  input {
    caret-color: #f59e0b !important;
  }
}


@media print {
  header, 
  nav, 
  footer,
  .no-print,
  button,
  .container.w-full.max-w-none > div:first-child {
    display: none !important;
  }

  @page {
    margin: 1cm; 
    size: auto;
  }

  body, html, .container {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: white !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important; 
  }

  .p-drawer, 
  .mat-mdc-menu-panel, 
  .cdk-overlay-container,
  .mat-mdc-dialog-container {
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important; 
    print-color-adjust: exact !important;
  }
}