@use 'tailwindcss';

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "ol/ol.css";
@import "leaflet/dist/leaflet.css";
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.unofive-field.mat-focused {
  
  // 1. La couleur du label (le texte qui remonte)
  .mat-mdc-floating-label mat-label {
    color: #f59e0b !important; // Amber-500
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #f59e0b !important;
  }

  input {
    caret-color: #f59e0b !important;
  }
}


@media print {
  /* 1. Cache le Header, la Nav, et les éléments d'interface globale */
  header, 
  nav, 
  footer,
  .no-print,
  button,
  .container.w-full.max-w-none > div:first-child {
    display: none !important;
  }

  /* 2. Optimisation du canevas de la page */
  @page {
    margin: 1cm; /* Marges standard pour imprimante */
    size: auto;
  }

  /* 3. Nettoyage complet du parent et du background */
  body, html, .container {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: white !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important; /* Important pour ne pas couper le contenu */
  }

  /* 4. Masque les overlays (Dialogues, Menus, Drawers) */
  .p-drawer, 
  .mat-mdc-menu-panel, 
  .cdk-overlay-container,
  .mat-mdc-dialog-container {
    display: none !important;
  }

  /* 5. Force les couleurs et images (pour les cartes Leaflet/Mapbox) */
  * {
    -webkit-print-color-adjust: exact !important; 
    print-color-adjust: exact !important;
  }
}